body {
  background-color: #F9F9F9;
  margin: 0;
  height: 100vh;
  padding: 0;
  position: relative;
}

h1,h2,h3,h4 {
  font-family: 'Sen';
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px 0 rgba(102, 16, 242, 1);
  transition: .3s;

}

.container {
  max-width: 1140px;
  width: 60%;
  margin: auto;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.campo-inputs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.campo-pesquisa input {
  border: none;
  background-color: transparent;
}

.campo-pesquisa input:focus-visible {
  outline: none;
}

.icon-pesquisa {
  border: 2px solid #EAEAEA;
  border-radius: 100px;
  background-color: #FFFFFF;
  padding: 10px;
}

.btn-login {
  border: 2px solid #EAEAEA;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 10px 35px;
  color: #2F2F2F;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.principal {
  text-align: center;
}

.principal h4 {
  font-size: 18px ;
  text-transform: uppercase;
  font-weight: 500;
}

.principal h1 {
  font-size: 72px ;
  width: 20ch;
  margin: auto;
  padding: 0 0 40px 0;
}

.btn-emoji {
  color: #F9F9F9;
  background-color: #6610F2;
  padding: 15px 40px 15px 40px;
  border: none;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  width: 250px;
}

.btn-biblioteca {
  border: 2px solid #EAEAEA;
  background-color: #FFFFFF;
  color: #2F2F2F;
  padding: 15px 0;
  font-size: 20px;
  font-weight:600;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Inter';
  width: 250px;
}

.campo-btns {
  display: inline-flex;
  gap: 60px;
  margin: auto;
}

.rodape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FFFFFF;
  height: 200px;
  max-width: 1140px;
  width: 60%;
  position: absolute;
  bottom: 0;
  color: #2F2F2F  ;
}

.rodape h3 {
  border-left: 3px solid #6610F2;
  padding: 0 0 0 15px;
  line-height: 30px;
  transition: .5s;
  text-transform: uppercase;
  color: #2F2F2F;
  font-weight: 400;
}
.rodape .blocos-rodape:hover h3 {
  border-left: 10px solid #6610F2;
  transition: .5s;
}

.rodape p {
  font-style: italic;
  font-family: 'Inter';
  font-weight: 400;
}

.blocos-rodape {
  padding: 30px 100px 0 100px;
}

