body {
  background-color: #F9F9F9;
  margin: 0;
  height: 100vh;
  padding: 0;
  position: relative;
}

h1,h2,h3,h4 {
  font-family: 'Sen';
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px 0 rgba(102, 16, 242, 1);
  transition: .3s;

}

.container {
  max-width: 1140px;
  width: 60%;
  margin: auto;
}

/* EMOJIS SAFADOS */

.img-emoji1 {
  position: absolute;
  padding: 40px;
  width: 120px;
}

.form1 {
  position: absolute  ;
  width: 200px;
}

.bloco-emoji1 {
  position: absolute;
  left: -55px;
}

.img-emoji2 {
  position: absolute;
  padding: 20px;
  width: 120px;
}

.form2 {
  position: absolute  ;
  width: 160px;
}

.bloco-emoji2 {
  position: absolute;
  right: 150px;
}

.img-emoji3 {
  position: absolute;
  padding: 20px;
  width: 120px;
}

.form3 {
  position: absolute  ;
  width: 160px;
}

.bloco-emoji3 {
  position: absolute;
  left: -20px;
  bottom: 200px;
}

.img-emoji4 {
  position: absolute;
  padding: 16px;
  width: 130px;
}

.form4 {
  position: absolute  ;
  width: 160px;
}

.bloco-emoji4 {
  position: absolute;
  right: 100px;
  bottom: 280px;
}

.img-emoji5 {
  position: absolute;
  padding: 16px;
  width: 120px;
}

.form5 {
  position: absolute  ;
  width: 160px;
}

.bloco-emoji5 {
  position: absolute;
  right: 440px;
  bottom: 160px;
}

/* FIM EMOJIS SAFADOS */

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.campo-inputs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.campo-pesquisa input {
  border: none;
  background-color: transparent;
}

.campo-pesquisa input:focus-visible {
  outline: none;
}

.icon-pesquisa {
  border: 2px solid #EAEAEA;
  border-radius: 100px;
  background-color: #FFFFFF;
  padding: 10px;
}

.btn-login {
  border: 2px solid #EAEAEA;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 10px 35px;
  color: #2F2F2F;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.principal {
  text-align: center;
  position: relative;
  padding: 0 0 200px 0;
}

.principal h4 {
  font-size: 18px ;
  text-transform: uppercase;
  font-weight: 500;
}

.principal h1 {
  font-size: 55px;
  width: 15ch;
  margin: auto;
  padding: 0 0 40px 0;
}

.btn-emoji {
  color: #F9F9F9;
  background-color: #6610F2;
  padding: 10px 20px;
  border: none;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  width: 250px;
}

.btn-biblioteca {
  border: 2px solid #EAEAEA;
  background-color: #FFFFFF;
  color: #2F2F2F;
  padding: 10px 0;
  font-size: 20px;
  font-weight:600;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Inter';
  width: 250px;
}

.campo-btns {
  display: inline-flex;
  gap: 60px;
  margin: auto;
}

.rodape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FFFFFF;
  height: 200px;
  max-width: 1140px;
  width: 60%;
  position: absolute;
  bottom: 0;
  color: #2F2F2F  ;
}

.rodape h3 {
  border-left: 3px solid #6610F2;
  padding: 0 0 0 15px;
  line-height: 30px;
  transition: .5s;
  text-transform: uppercase;
  color: #2F2F2F;
  font-weight: 400;
}
.rodape .blocos-rodape:hover h3 {
  border-left: 10px solid #6610F2;
  transition: .5s;
}

.rodape p {
  font-style: italic;
  font-family: 'Inter';
  font-weight: 400;
}

.blocos-rodape {
  padding: 20px 100px 0 100px;
}

@media screen and (max-width:1180px) {
  .bloco-emoji1, .bloco-emoji2, .bloco-emoji3, .bloco-emoji4, .bloco-emoji5 {
    display: none;
  }
  .rodape {
    grid-template-columns: 1fr;
    height: auto;
  }
  .campo-btns {
    gap: 15px;
  }
}

@media screen and (max-width: 800px) { 
  .campo-btns {
    display: block;
  }
  .btn-biblioteca {
    margin-top: 10px;
  }
  .principal h1 {
    width: auto;
  }
  .blocos-rodape {
    padding: 10px;
  }
}

@media screen and (max-width: 660px) {
  .campo-btns {
    display: block;
    gap: 20px;
  }
  .btn-biblioteca, .btn-emoji {
    width: auto;
  }
  .btn-biblioteca {
    margin-top: 10px; 
    padding: 10px 10px;
  }
  .principal {
    padding: 0 0 50px 0;
  }
  .principal h1 {
    font-size: 30px;
    width: auto;
  }
  .blocos-rodape {
    padding: 0;
  }
  .cabecalho h3 {
    text-align: center;
  }
  .cabecalho {
    display: block;
    padding: 0;
  }
  .btn-login {
    padding: 10px 20px;
    margin-bottom: 3px;
  }
  .campo-inputs {
    justify-content: center;
  }
  .blocos-rodape p {
    font-size: 12px;
  }
  .blocos-rodape h3 {
    line-height: 5px;
    font-size: 16px;
  }
  .container {
    height: 100vh;
    justify-content: space-between;
  }

}