body {
  background-color: #131313;
  font-family: 'Courier Prime';
  margin: 0;
  max-width: 1440px;
  margin: auto; 
  color: #f9f9f9;
}

hr {
  border: 2px solid #19D3DA;
  width: 200px;
  margin: 0;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.cabecalho ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.8rem;
}

.cabecalho h2 {
  margin-bottom: 60px;
}

.titulo-principal h4 a, .titulo-principal i , .titulo-principal h4 a:visited {
  text-decoration: none;
  color: #c4c4c4;
}

.cabecalho a:visited {
  color: aliceblue;
}

.cabecalho a:hover {
  color: grey;
}

.titulo-principal h4 a:hover {
  color: grey;
  text-decoration: underline;
}

.conteudo-principal {
  width: 100%;
  margin: auto;
}

.campo-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
  justify-items: center;
}

.card img, .card {
  width: 100%;
  height: 240px;
  border: 1px solid gray;
  border-radius: 5px;
  object-position: top;
  object-fit: cover;
}


.card:hover {
  transition: .3s;
  box-shadow: 0 0 10px 0 rgba(255,255,255, 1);
  opacity: .6;
}


.card button {
  width: 100%;
  color: #19D3DA;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 0;
  margin: 15px 0;
  transition: 1s;
}


@media screen and (max-width: 1550px) {
  body {
    width: 80%;
  }

  .campo-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  body {
    width: 80%;
  }

  .campo-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  body {
    width: 80%;
  }

  .campo-cards {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  
  .card {
    max-width: 400px;
  }
}