body {
  background: linear-gradient(rgba(0,0,0,.85) 100%,rgba(0,0,0,.85) 100%),url('./img/background.png');
  font-family: 'Open Sans', sans-serif;
}

#img-logo {
  width: 80px;
  height: 50px;
}

.circle1 {
  background-color: #FF4656;
  width: 200px;
  height: 200px;
  left: 140px;
  filter: blur(180px);
  position: absolute;
  top: 80px;
}

.circle2 {
  background-color: #FF4656;
  width: 200px;
  height: 200px;
  left: 450px;
  filter: blur(230px);
  position: absolute;
  bottom: 50px;
}

.circle3 {
  background-color: #FF4656;
  width: 200px;
  height: 200px;
  right: 0;
  filter: blur(150px);
  position: absolute;
  top: 0;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

