body {
  background: linear-gradient(rgba(0,0,0,.85) 100%,rgba(0,0,0,.85) 100%),url('./img/background.png');
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

.circle1 {
  background-color: #FF4656;
  width: 200px;
  height: 200px;
  left: 140px;
  filter: blur(180px);
  position: absolute;
  top: 80px;
}

.circle2 {
  background-color: #FF4656;
  width: 200px;
  height: 200px;
  left: 450px;
  filter: blur(230px);
  position: absolute;
  bottom: 50px;
}

.circle3 {
  background-color: #FF4656;
  width: 200px;
  height: 200px;
  right: 0;
  filter: blur(150px);
  position: absolute;
  top: 0;
}

#icon-share {
  width: 25px;
  height: 25px;
}

#img-logo {
  width: 80px;
  height: 45px;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin: auto;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.cabecalho h3 {
  font-size: 24px;
  letter-spacing: 1px;
}

.titulo-personagens h1 {
  font-size: 56px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
}

.campo-banner {
  bottom: 0;
}

.campo-personagens {
  padding: 120px 0;
}

.lista-personagens ul {
  display: flex;
  gap: 20px;
  padding: 0;
}

.borda {
  z-index: 1;
  position: absolute;
 
}

.lista-img {
  border: none;
  z-index: 2;
  position: relative;
  padding: 8px 0 0 8px;
}

.lista-personagens li {
  color: #FF4656;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  letter-spacing: .9px;
}

.rodape {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1200px) {
  #banner {
    width: 100%;
    min-width: 300px;
  }

  .rodape {
    position: absolute;
    bottom: 0;
    padding: 25px 0;
  }
}


@media screen and (max-width:900px) {
  .campo-banner {
    display: none;
  }
  .principal {
    display: block;
  }
  .lista-personagens ul {
    justify-content: space-around;
  }
  .titulo-personagens h1 {
    text-align: center;
  }
  .campo-personagens {
    padding: 120px 0;
  }
  .circle2 {
    display: none;
  }
}

@media screen and (max-width:600px) {
  .lista-personagens ul {
    display: block;
    max-width: 200px;
    margin: auto;
  }
  .campo-personagens {
    padding: 20px 0;
  }

  .rodape {
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }

}