body {
  margin: 0;
}

a:visited {
  color: #2B6CB0;
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather';
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  height: 100%;
  justify-content: space-around;
}

/* Organizando lado esquerdo da página  */

.tela-esquerda {
  width: 50vw;
  height: 100vh;
  background: #ebf1f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#img-logo {
  width: 300px;
}

/* Organizando lado direito da página */

.tela-direita {
  background-color: #FFFFFF;
  display: grid;
  text-align: justify;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.area-login div{
  padding: 15px;
}

.topo-login {
  line-height: 32px;
}

.topo-login h3 {
  font-weight: 400;
  font-size: 14px;
}

.topo-login h1 {
  font-weight: bold;
  font-size: 26px;
}

.dados-login h3 {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
}

.dados-login input {
  border: 2px solid #E8E8E8;
  border-radius: 5px;
  width: 90%;
  margin: 10px 0 20px 0;
  padding: 15px;
}

.bloco-lembrete a {
  position: relative;
  padding-left: 40px;
}

.bloco-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Lato';
}

#btn-entrar {
  background-color: #04C35C;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  color: #f9f9f9;
  border-radius: 5px;
  font-weight: bold;
}

#btn-entrar:hover {
  background-color: #04b053;
  color: #f9f9f9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
  transition: .5s;
  cursor: pointer;
}

#btn-entrar-google {
  background-color: #1A202C;
  color: #f9f9f9;
  border: none;
  padding: 15px 0;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

#btn-entrar-google:hover {
  background-color: #131821;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  transition: .5s;
}

.rodape {
  position: relative;
  top: 140px;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .principal {
    grid-template-columns: 1fr;
  }
  .tela-esquerda {
    display: none;
  }
  .tela-direita {
    width: 100vw;
  }
  .rodape {
    top: 30px;
  }

}