body {
  font-family: 'B612', sans-serif;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('./img/loki-fundo.png') ;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  color: #f9f9f9;
}

.container {
  width: 80%;
  margin: auto;
}

.texto-topo {
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
}

.texto-topo h1 {
  font-size: 96px;
  font-weight: bold;
  margin: 50px;
}

.conteudo-principal {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 120px;
  align-items: center;
  max-width: 1040px;
  margin: auto;
}

.campo-img img {
  height: 280px;
}

.campo-descricao p {
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 20px 0;
}

.campo-detalhe {
  display: flex;
  justify-content: space-between;
}

.campo-btn {
  display: flex;
  gap: 25px;
}

.campo-btn button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
  transition: .3s;
}

#btn-assistir {
  background-color: #0072D2;
  color: #f9f9f9;
  padding: 20px 40px;
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

#btn-trailer {
  background-color: #131318;
  color: #f9f9f9;
  padding: 20px 40px;
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  body {
    height: auto;
    background-attachment: fixed;
  }

  .texto-topo h1 {
    margin: 20px;
  }

  .campo-img {
    display: none;
  }

  .campo-detalhe {
    align-items: center;
  }

  .campo-detalhe h3 {
    font-size: 16px;
  }

  .conteudo-principal {
    padding: 0;
    grid-template-columns: 1fr;
  }

  .campo-avaliacao {
    padding-left: 2px;
  }

  .campo-avaliacao img {
    width: 12%;
  }

  #btn-trailer, #btn-assistir {
    padding: 10px;
    margin-bottom: 20px;
  }
}